.FullContact {
    display: flex;
    padding: 20px;
}

.ContactImg {
    width: 35%;
    padding: 10px;
}

.ContactImg img {
    width: 140px;
    height: 140px;
}

.ContactDetails {
    width: 65%;
    padding: 10px;
}

.FullContactName {
    font-size: 32px;
    text-transform: capitalize;
    margin-top: 0;
}

.ContactText {
    font-size: 20px;
}

.ButtonsBlock {
    display: flex;
    justify-content: space-evenly;
}

.ButtonsBlock button:last-child {
   margin-right: auto;
   margin-left: 20px;
}

.FailedText {
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 720px){
    .FullContact {
        flex-direction: column;
        align-items: center;
    }

    .ContactImg {
        width: max-content;
    }

    .ContactDetails {
        width: max-content;
    }

    .FullContactName {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .ContactText {
        font-size: 16px;
    }
}