.Contact {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
    padding: 15px;
    margin: 30px auto 0;
    border: 3px solid black;
    box-shadow: 0 5px 15px black;
}

.Contact:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.Contact:not(:hover) {
    transition: 0.8s;
}

.ImgBlock {
    width: 30%;
}

.ImgBlock img {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

.NameBlock {
    width: 70%;
    padding: 0 20px;
}

.NameBlock p {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width: 560px){
    .NameBlock p {
        font-size: 22px;
    }
    .ImgBlock img {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }
}